@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Syncopate&display=swap');

* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #050221;
  font-family: 'Mark Pro',Arial,sans-serif;
  font-size: 1em;
}
#home {
  margin: 0;
  width: 100%;
  background-color: #14112C;
  align-items: flex-start;
  height: 650px;
  background-image: url(/jumperzinho/IMG/banner2070.png);
@media (max-width: 1980px) {
  background-image: url(/jumperzinho/IMG/banner1920.png);  
}
@media (max-width: 1280px){
  background-image: url(/jumperzinho/IMG/banner1280.png);
}
}

.fundo{
  width: 580px;
  background-color: #041347;
  opacity: 70%;
  height: 420px;
  margin-top: 50px;
  margin-left: 70px;
  position: absolute;
  z-index: 2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 1px solid #A20cf2;
  box-shadow: 4px 4px #14112C;
  @media (max-width: 1280px){
    width: 450px;
    height: 400px;
  }
}
.content{
  z-index: 0;
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}
.cont-into{
  width: 560px;
  text-align: center;
  height: 400px;
  margin-top: 65px;
  @media (max-width: 1280px){
    width: 430px;
    height: 380px;
  }
}
.cont-into img, .cont-into h1, .cont-into p, .cont-into a{
  opacity: 1;
}
.cont-into h1, .cont-into p{
  color: white;
  margin-bottom: 30px;
}
.cont-into p{
  margin-bottom: 50px;
  font-size: 20px;
  @media (max-width: 1280px){
    font-size: 19px;
    margin-bottom: 35px;
  }
}
.cont-into a{
  padding: 100;
  background-color: #9c1f81;
  text-decoration: none;
  color: white;
  
}
.content-center{
    max-width: 1890px;
    margin-left: auto!important;
    margin-right: auto!important;
}
.content{
  z-index: 3;
}
.content a{
    border-radius: 30px;
    border-width: 3px;
    top: -5.5px;
    left: -5.5px;
    right: -5.5px;
    bottom: -5.5px;
    padding: 20px 40px 20px 40px;
    font-size: 30PX;
    text-align: center;
    box-shadow: #A20cf2 3px 3px;
    background-color: #9c1f81;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
    box-shadow: #A20cf2 3px 3px;
    justify-content: center;
    display: flex;
    width: 140px;
    align-items: flex-end;
    @media (max-width: 1280px){
      padding: 15px 20px 15px 20px;
    }
}
.content a:hover{
  padding: 23px 43px 23px 43px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #A20cf2;
  box-shadow: 3px 3px #9c1f81;
}

.content img{
  width: 430px; 
}
a i{
  font-size: 40px;
}

#logo {
  z-index: 1;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Syncopate', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}
main{
  color: white;
  font-size: 20px;
  width: 90%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.main{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.copy, .exp{
  margin-left: 15px;
  width: 100%;
}
.copy p, .exp p {
  margin-left: 
0px;
  width: 95%;
  text-align: justify;
}
.copy p{
  width: 1220px;
  @media (max-width: 1280px){
    width:900px;
  }
  @media (max-width: 960px){
    width: 580px;
  }
}
.exp{
  margin-top: 20px;
}
.game{
  background-color: #9c1f81;
  padding: 20px 40px 20px 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-align: center;
  box-shadow: #A20cf2 3px 3px;
  justify-content: center;
  display: flex;
  width: 140px;
  align-items: flex-end;
} 
.game:hover{
  padding: 23px 43px 23px 43px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #A20cf2;
  box-shadow: 3px 3px #9c1f81;
}
.copy{
  margin-bottom: 30px;
  border: 3px solid #A20cf2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 1280px;
  background-color: #041347;
  padding: 15px;
  padding-bottom: 30px;
  @media (max-width: 1280px){
    width: 960px;
  };
  @media (max-width: 960px){
    width: 640px;
  };
  box-shadow: 4px 4px #14112C;
}
.copy ul{
  margin: 30px;
  text-align: justify;
} 
.copy li{
  margin-left: 40px;
  margin-bottom: 10px;
}
.copy h1{
  margin-bottom: 30px;
  font-size: 35px;
  padding: 10px;
  width: 860px;
  text-shadow: 2px 2px#9c1f81;
}
.mg{
  margin-bottom: 50px;
}
nav{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav img{
  width: 100px;
}
.trailer{
  font-size: 50px;
  margin-top:30px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #9c1f81 ;
}
video{
  width: 1300px;
  border: 3px solid #A20cf2;
  border-radius: 30px;
  @media(max-width: 1280px){
    width: 960px;
  };
  @media (max-width: 960px){
    width: 640px;
  };
  box-shadow: 4px 4px #14112C;
}

footer {
  width: 100%;
  height: 340px;
  background-color: #041347;
  margin-top: 50px;
  border-top: 2px solid #A20cf2;
  box-shadow: 0px -5px #14112C ;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
}
footer a{
  text-decoration: none;
  color: white;
}
footer .redes div{
  display: flex;
  align-items: baseline;
}

.redes div i{
  font-size: 25px;
  border: 1px solid #9c1f81;
  padding: 4px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 35px;
}
footer .e-mail{
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid #9c1f81;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.e-mail i{
  font-size: 55px;
  margin-right: 20px;
}
.redes a div p{
  font-size: 23px;
}